
__pycache__/Pboundry.cpython-37.pyc
__pycache__/Dmatrix.cpython-37.pyc
.solver.py.swp
.solver.py.swo
.solver.py.swn
.solver.py.swm
.solver.py.swl
.solver.py.swk
.solver.py.swj
.solver.py.swi
.solver.py.swh
.solver.py.swg
.solver.py.swf
.Pboundry.py.swp
.gitattributes
.Dmatrix.py.swp
.Dmatrix.py.swo
.darray.py.swp
